<launch>
  	<!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
	<include file="$(find gazebo_ros)/launch/empty_world.launch">	    
		<arg name="world_name" value="$(find roberto_gazebo)/worlds/roberto.world"/>	    
		<arg name="gui" value="true"/>	  
		<arg name="paused" value="true"/>	  
	</include>	

	<!-- urdf xml robot description loaded on the Parameter Server, converting the xacro into a proper urdf file-->
	<param name="robot_description" command="$(find xacro)/xacro --inorder '$(find roberto_models_jade)/models/obstacles/seesaw/seesaw.xacro'" />

	<!-- push robot_description to factory and spawn robot in gazebo -->
	<node name="roberto_spawn" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
	 args="-urdf -param robot_description -model seesaw" />

	<!-- convert joint states to TF transforms for rviz, etc -->
  	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
  		<param name="publish_frequency" type="double" value="10.0"/>
  		<param name="tf_prefix" type="string" value="roberto"/>
  	</node>

</launch>