<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find roberto_models_jade)/models/inertia_tensors.xacro"/>
  

  <xacro:macro name="Spacer" params="name parent fb lr mesh_collis:=^|simplified mesh_visual:=^|detailed model_dir:=^">


    <!-- Selecting origin position -->
    <xacro:property name="tX" value="1" />
    <xacro:property name="tY" value="1" />
    <xacro:if value="${fb ==   'B'}"> <xacro:property name="tY" value="-1" /> </xacro:if>
    <xacro:if value="${lr ==   'L'}"> <xacro:property name="tX" value="-1" /> </xacro:if>
    


    <xacro:property name="ParentLink2ThisLink"> <!--parent link to this joint tf-->
      <axis xyz="0 0 1"/>
      <origin xyz="${spacerPosX*tX} ${spacerPosY*tY} ${spacerPosZ}" rpy="0 0 0" />
    </xacro:property>

    <xacro:property name="ThisLink2Inert"> <!--this link 2 inertial center tf, mass data-->
      <cylinder_inertial radius="${spacerRadius}" length="${spacerLength}" mass="${spacerMass}" /> 
    </xacro:property>

    <xacro:property name="ThisLink2STL"> <!--this link 2 mesh center tf, file-->
      <origin xyz="0.02 -0.03 0" rpy="0 ${pi} 0"/> 
      <geometry> <mesh filename="file://${model_dir}/meshes/platform_top.dae"/> </geometry> 
      <material name="white"> <color rgba="1 1 1 1"/> </material>
    </xacro:property>

    <xacro:property name="ThisLink2XML"> <!--this link 2 simple mesh center tf, file-->
      <origin xyz="0 0 0" rpy="0 0 0"/> 
      <geometry> <cylinder length="${spacerLength}" radius="${spacerRadius}"/> </geometry> 
      <material name="white"> <color rgba="1 1 1 1"/> </material>
    </xacro:property>
        
    <!-- choosing the appropriate collision and visual mesh -->
    <xacro:property name="ThisVisual"> <box size="0.0001 0.0001 0.0001" /> </xacro:property><!--no mesh-->
    <xacro:property name="ThisCollis"> <box size="0.0001 0.0001 0.0001" /> </xacro:property><!--no mesh-->
    <xacro:if value="${mesh_visual ==   'detailed'}"> <xacro:property name="ThisVisual">  <xacro:insert_block name="ThisLink2XML"/> </xacro:property> </xacro:if><!--detailed stl mesh-->
    <xacro:if value="${mesh_collis ==   'detailed'}"> <xacro:property name="ThisCollis">  <xacro:insert_block name="ThisLink2XML"/> </xacro:property> </xacro:if><!--detailed stl mesh-->
    <xacro:if value="${mesh_visual == 'simplified'}"> <xacro:property name="ThisVisual">  <xacro:insert_block name="ThisLink2XML"/> </xacro:property> </xacro:if><!--minimalist mesh-->
    <xacro:if value="${mesh_collis == 'simplified'}"> <xacro:property name="ThisCollis">  <xacro:insert_block name="ThisLink2XML"/> </xacro:property> </xacro:if><!--minimalist mesh-->
    
    
    <!-- joint and link definition -->    
    <joint name="${parent}2${name}${fb}${lr}_joint" type="fixed">
      <parent link="${parent}_link"/>
      <child  link="${name}${fb}${lr}_link" />
      <xacro:insert_block name="ParentLink2ThisLink" />
    </joint>    

    <link name="${name}${fb}${lr}_link">    
      <xacro:insert_block name="ThisLink2Inert"/>
      <visual>    <xacro:insert_block name="ThisVisual"/> </visual>
      <collision> <xacro:insert_block name="ThisCollis"/> </collision>
    </link>
    
    
    <gazebo reference="${name}${fb}${lr}_link"> 
      <material>Gazebo/White</material> 
      <selfCollide>false</selfCollide>
    </gazebo>

  </xacro:macro>
</robot>